{% extends 'base.html.twig' %}
{% block title %}Kayıt Ekranı{% endblock %}
{% block body %}
    {% if message is defined %}
        {{ message }}
    {% endif %}
    <div class="main">

        {{ form_start(form,{attr:{'clas':'form-horizontal'}}) }}

        <div class="form-group">
                {{ form_row(form.name) }}
        </div>
        <div class="form-group">
                {{ form_row(form.email, {'type':'email'}) }}
        </div>
        <div class="form-group">
                {{ form_row(form.phone, {'type':'number'}) }}
        </div>
        <div class="form-group">
            {{ form_row(form.submit,{'attr':{'class': 'btn btn-default'}}) }}
        </div>

        {{ form_end(form) }}

    </div>

{% endblock %}

