{% extends 'base.html.twig' %}
{% block title %}Çankaya Belediye Tiyatrosu{% endblock %}
{% block header %}
    <nav class="navbar navbar-default">

        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a href="#"><img src="{{ asset('bundles/framework/images/cankayaLogo.png') }}" /></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('index_action') }}">Tiyatro</a></li>
                    <li><a href="#">Barınaklar</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Giriş</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
{% endblock %}
{% block body %}
    <div class="upper-body">
        <div class="half-up">
            <img src="{{ asset('bundles/framework/images/tiyatrolar_Z.png') }}" />
        </div>
        <div class="half-down">
            <h3 style=" position: relative; right: 455px !important;">Tiyatrolar</h3>
            <hr>
        </div>
    </div>
    <div class="lower-body">
        <div class="lower-right">
            <h3>CAMAŞIRHANE</h3>
            <table class="table table-hover">
                <tbody>
                <tr>
                    <td>Oynadığı Yer</td>
                    <td>CÜNEYT GÖKÇER SAHNESİ</td>
                </tr>
                <tr>
                    <td>Gösterim Tarihi</td>
                    <td>10 Mayıs 2016 Salı - 15 Mayıs 2016 Pazar</td>
                </tr>
                <tr>
                    <td>Yazan</td>
                    <td>D. DURVİN - H PREVOST</td>
                </tr>
                <tr>
                    <td>Yöneten</td>
                    <td>YUNUS EMRE BOZDOĞAN</td>
                </tr>
                <tr>
                    <td>Süre</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>Oyuncular</td>
                    <td>GÖNÜL ORBEY FUAT ÇİYİLTEPE MÜGE İZGİ SEFERCİOĞLU MELTEM KESİN BAYUR MELİHA SAVAŞ BAŞKA ANAT ÖZCAN GAYE FİLİZ ALACACI SÜHEYLA GÜRKAN ÖZDEN GÖKÖZ SELMA BAYRAKTARGIL KADER</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="lower-left">
            <img src="{{ asset('bundles/framework/images/camasirhane-bg.png') }}" /><br>
            <a href="{{ path('cuneytgokcer') }}" class="btn btn-warning" role="button" style="position: relative; top: 8px; width: 200px;">online rezervasyon</a>
        </div>
        <div class="lower-bottom">
            <h3>Kısa Açıklama</h3>
            I. Dünya Savaşı… Fransa… Yoksulluğun pençesindeki kadınlar… Kimi dul ve çocuklu kimi bekar kimi yetim kimi yalnız. <br>
            Çamaşırhane dehlizinde; yokluğun, mutsuzluğun, açlığın, çaresizliğin ve savaşın, kısaca tüm hayatın pençesindeler.<br>
            Kan, ter ve toz birbirine karışmış. Artık böyle çamaşırhaneler yok. Ama dünyanın her yerinde yoksulluk ve savaş acı<br>
            yüzlerini gösteriyor vekadınlar, bu acılardan paylarına düşen ağır yükü çekmeye devam ediyor.
            <hr>
        </div>
    </div>
{% endblock %}